<ion-modal-view id="login-password-modal" class="login-modal">
    <div class="content">
        <div class="row find-section">
            <div class="col col-80 flex">
                <span>비밀번호 찾기</span>
            </div>
            <div class="col flex">
                <i class="close-icon"
                    ng-click="Login.passwordModal.hide()"
                    touch
                ></i>
            </div>
        </div>

        <div class="row dialog-section flex">
            <div class="col col-80 text-container">

                <div class="row text-section flex">
                    <div class="col col-80">
                        <span ng-show="Login.viewPasswordMessage">가입하신 e-mail번호로 임시 비밀번호를</span>
                    </div>
                </div>
                <div class="row text-section flex">
                    <div class="col col-80">
                        <span ng-show="Login.viewPasswordMessage">전송하였습니다.</span>
                    </div>
                </div>

                <div class="row button-section">
                    <div class="col flex"
                        touch
                        ng-click="Login.requestTempPassword()"
                    >
                        <span>임시 비밀번호 전송</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-modal-view>
    
